.page {
  background-color: #ffffff;
  color: rgba(117, 117, 117, 1);
}

ul {
  list-style: none;
}
/* цвет основного текста rgba(117, 117, 117, 1) */
/* вторичный цвет текста #212121 */
/* белый #FFFFFF; */
/* акцент #2196F3; */
/* вторичный цвет фона #F5F4FA; #2F303A; */
.logo {
  color: #2196f3;
}
